<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Star Wars Planets (0)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Star Wars Plaents (0)</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-list>
  <ion-item>Foo</ion-item>
  <ion-item>Foo</ion-item><ion-item>Foo</ion-item><ion-item>Foo</ion-item><ion-item>Foo</ion-item><ion-item>Foo</ion-item><ion-item>Foo</ion-item><ion-item>Foo</ion-item><ion-item>Foo</ion-item><ion-item>Foo</ion-item><ion-item>Foo</ion-item><ion-item>Foo</ion-item><ion-item>Foo</ion-item><ion-item>Foo</ion-item><ion-item>Foo</ion-item><ion-item>Foo</ion-item><ion-item>Foo</ion-item><ion-item>Foo</ion-item><ion-item>Foo</ion-item><ion-item>Foo</ion-item><ion-item>Foo</ion-item><ion-item>Foo</ion-item><ion-item>Foo</ion-item><ion-item>Foo</ion-item><ion-item>Foo</ion-item><ion-item>Foo</ion-item><ion-item>Foo</ion-item><ion-item>Foo</ion-item><ion-item>Foo</ion-item><ion-item>Foo</ion-item><ion-item>Foo</ion-item><ion-item>Foo</ion-item><ion-item>Foo</ion-item>
</ion-list>
</ion-content>
